@model cobom.Models.about
@{
    ViewBag.Title = "About Us";
}

 <!-- banner -->
<div class="inner_page-banner one-img">
</div>
<!--//banner -->
<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
            <li>
                <a href="~/home">Home</a>
                <span>/ /</span>
            </li>
            <li>About</li>
        </ul>
    </div>
</div>
<!-- //short-->

  <!-- about -->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="jst-abut-wls mb-lg-4 mb-md-3 mb-3 ">
           
            @Html.Raw(Model.body)

        </div>
        @*<div class="row its-abt-info">
            <div class="col-lg-6 col-md-6 col-sm-6 about-list-w3layouts">
                <div class="abt-icon-color">
                    <span class="fa fa-thumbs-o-up mb-3" aria-hidden="true"></span>
                </div>
                <div class="abt-txt-sub">
                    <h4>Aims and objectives:</h4>
                    <div class="txt-para-list mt-3">
                        <p><em>To carry out an aggressive campaign on social media and on the ground for the re-election of PMB and team in 2019 and beyond.&nbsp;</em></p>
                        <p><em>To carry out aggressive recruitment of Nigerians in support of the government and re-election of PMB.</em><em>To mobilize Nigerians in support of the policies, programs and projects of PMB led administration.</em></p>
                        <p><em>We hope to achieve all the above and more through a dint of hardwork by creating platforms where the information of a new Nigeria will continue to be preached and exposed to the general public to drive the message home.</em></p>
                        <p><em>A completely new Nigeria is possible!</em></p>
                    </div>
                </div>
            </div>

        </div>*@
    </div>

  
                
         

       
          

                    @*  *@
                
            
          
        
</section>
<!--//about -->