@{
    ViewBag.Title = "Contact";
}

  <!-- banner -->
<div class="inner_page-banner one-img">
</div>
<!--//banner -->
<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
            <li>
                <a href="~/home">Home</a>
                <span>/ /</span>
            </li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<!-- //short-->
  <!--contact -->
<section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-sm-4 mb-3">Contact Us</h3>
        <div class="line-w3ls-title text-center mb-md-5 mb-sm-4 mb-3">
            <p class="text-dark">WE’D LOVE TO DISCUSS ANY IDEAS YOU HAVE IN MIND, WE’D LOVE TO DISCUSS ANY IDEAS YOU HAVE IN MIND</p>
        </div>
        <div class="row mb-lg-5 mb-md-4 mb-3">
            <div class="col-lg-4 col-md-4 footer_grid_left text-center">
                <div class="contact_footer_grid_left text-center mb-3">
                    <span class="fa fa-map-marker"></span>
                </div>
                <p>7, Oduyemi Street, Ikeja Lagos State</p>
            </div>
            <div class="col-lg-4 col-md-4 footer_grid_left text-center">
                <div class="contact_footer_grid_left text-center mb-3">
                    <span class="fa fa-phone"></span>
                </div>
                <p>+(234) 803 076 4975</p>
            </div>
            <div class="col-lg-4 col-md-4 footer_grid_left text-center">
                <div class="contact_footer_grid_left text-center mb-3">
                    <span class="fa fa-envelope"></span>
                </div>
                <p>
                    <a href="info@cobom.net">info@cobom.net</a>
                   
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 p-0 address_mail_footer_grids">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.3989693649432!2d3.3336699753999914!3d6.59723692223283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b9188ee3a2a3d%3A0x92319d19be253ff3!2s7+Oduyemi+St%2C+Ikeja%2C+Lagos!5e0!3m2!1sen!2sng!4v1545547552769" allowfullscreen></iframe>
                
            </div>
            <div class="col-lg-6 col-md-6 p-0 ">
                <div class="wthree-info-para">
                    <!--contact-map -->
                    <form action="#" method="post">
                        <div class=" form-group contact-forms">
                            <input type="text" class="form-control" placeholder="Fist Name" required="">
                        </div>
                        <div class=" form-group contact-forms">
                            <input type="text" class="form-control" placeholder="Phone" required="">
                        </div>
                        <div class="form-group contact-forms">
                            <input type="email" class="form-control" placeholder="Email" required="">
                        </div>
                        <div class="form-group contact-forms">
                            <textarea class="form-control" rows="3" placeholder="Message.." required=""></textarea>
                        </div>
                        <div class="text-left click-subscribe">
                            <button type="submit" class="btn btn-block click-me">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 contact-right ">
            </div>
        </div>
    </div>
</section>
<!--//contact  -->